<%- model_class = Item -%>
<%= bootstrap_flash %>
<%- if @show_save_button %>
    <%= link_to 'Save search', save_results_path(:ids => @ids), :class => 'btn btn-primary' %>
<%- end %>
<%- unless @items.blank? %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sortable :kind, model_class.human_attribute_name(:kind) %></th>
      <th><%= sortable :height, model_class.human_attribute_name(:height) %></th>
      <th><%= sortable :emergency_exit, model_class.human_attribute_name(:emergency_exit) %></th>
      <th><%= sortable :openable, model_class.human_attribute_name(:openable) %></th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.kind %></td>
        <td><%= item.height %></td>
        <td><%= item.emergency_exit %></td>
        <td><%= item.openable %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @items %>
<%- end %>